.gallery {
  background-image: url('../../images/Rectangle\ gallery.svg');
  width: 1520px;
  height: 800px;
  display: flex;
  gap: 32px;
}

.gallery__column {
  padding: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 485px;
  position: relative;
}

.gallery__title {
  max-width: 380px;
}

.gallery__dots {
  position: absolute;
  bottom: 0;
}

.gallery__artist {
  position: absolute;
  bottom: 0;
}


.gallery__tattoos {
  display: flex;
  flex-direction: column;
  gap: 108px;
  justify-content: flex-start;
  align-items: center;
}

.gallery__tattoo {
  background-color: #FFF4EB;
  border-radius: 32px;
  width: 485px;
  min-height: 324px;
  padding: 31px 0;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}

.gallery__price {
  font-family:'Angel Rhapsody', Times, serif;
  color: #12100C;
  font-size: 32px;
  margin: 0;
  position: absolute;
  bottom: 40px;
  right: 40px;
}


.gallery__process {
  position: absolute;
  top: 0;
  right: 0;
}

.gallery__gradient {
  position: absolute;
  top: 192px;
  height: 135px;
  width: 100%;
  background-image: linear-gradient(0, #1E1C17 9%, #1E1C1700);
}

.gallery__contact {
  margin-top: 324px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.gallery__text {
  color: #FFF;
  opacity: 0.4;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.gallery__button {
  background-color: #DB9F6A;
  border: none;
  border-radius: 12px;
  padding: 20px 32px;
  color: #483524;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  width: fit-content;
}
